.db-tree-content {
  height: 100%;
  padding: 4px;
}

.db-tree-search-input {
  margin-bottom: 4px !important;

  & > .ant-input-sm {
    font-size: 10px !important;
  }
}

.db-tree-data {
  font-size: 10px !important;
}
