.rs-tree.rs-tree-db-tree-data {
  max-height: 100% !important;
  white-space: nowrap !important;

  & > .rs-tree-nodes > .rs-tree-node-children {
    & > div {
      padding-left: 4px !important;
    }

    & > .rs-tree-node > .rs-tree-node-label > .rs-tree-node-label-content {
      font-size: 10px !important;
      padding: 4px 12px 6px 2px !important;
    }
  }
}
