@import '~antd/lib/style/color/colors';

.ant-table-cell {
  font-size: 11px !important;
}

.ant-select {
  width: 100% !important;
  font-size: 11px !important;
}

.ant-select-item {
  font-size: 11px !important;
}

.ant-btn > span {
  font-size: 11px;
  font-weight: bold;
}

.ant-input {
  font-size: 11px;
}

.delete-confirm-row {
  margin: 5px 0;
}

.delete-confirm-label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  font-size: 12px !important;
}

.a-danger {
  color: #ff4d4f;
}
.a-danger:hover {
  color: #f37171;
}

.a-link {
  font-weight: bold;
}

.row-table-expand {
  margin: 10px 0;
}

.height-center {
  align-items: center;
}

.col-label {
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  text-align: right;
  padding: 0 8px 0 0;
}
.col-value {
  text-align: left;
  font-size: 12px;
  line-height: 26px;
}
.col-left {
  text-align: left;
}
.col-right {
  text-align: right;
}

.table-td-p {
  margin: 0;
}

.table-td-tag-p {
  margin: 1px 0;
}

.table-td-divider {
  margin: 2px 0;
}

.a-option {
  font-weight: bold;
}

.btn-warn {
  background-color: @gold-base;
  border: 1px solid @gold-base;
  color: white;
}
.btn-warn:hover,
.btn-warn:focus {
  background-color: @gold-5;
  border: 1px solid @gold-5;
  color: white;
}
.btn-warn:active {
  background-color: @gold-7;
  border: 1px solid @gold-7;
  color: white;
}

.btn-warn-ghost {
  border: 1px solid @gold-base !important;
  color: @gold-base !important;
}
.btn-warn-ghost:hover,
.btn-warn-ghost:focus {
  border: 1px solid @gold-5 !important;
  color: @gold-5 !important;
}
.btn-warn-ghost:active {
  border: 1px solid @gold-7 !important;
  color: @gold-7 !important;
}

.btn-orange-ghost {
  border: 1px solid @orange-base !important;
  color: @orange-base !important;
}
.btn-orange-ghost:hover,
.btn-orange-ghost:focus {
  border: 1px solid @orange-5 !important;
  color: @orange-5 !important;
}
.btn-orange-ghost:active {
  border: 1px solid @orange-7 !important;
  color: @orange-7 !important;
}

.btn-danger2-ghost {
  border: 1px solid @magenta-base !important;
  color: @magenta-base !important;
}
.btn-danger2-ghost:hover,
.btn-danger2-ghost:focus {
  border: 1px solid @magenta-5 !important;
  color: @magenta-5;
}
.btn-danger2-ghost:active {
  border: 1px solid @magenta-7 !important;
  color: @magenta-7 !important;
}

.btn-volcano-ghost {
  border: 1px solid @volcano-base !important;
  color: @volcano-base !important;
}
.btn-volcano-ghost:hover,
.btn-volcano-ghost:focus {
  border: 1px solid @volcano-5 !important;
  color: @volcano-5;
}
.btn-volcano-ghost:active {
  border: 1px solid @volcano-7 !important;
  color: @volcano-7 !important;
}

.padding-left-20 {
  padding-left: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}
.margin-left-30 {
  margin-left: 30px;
}

.hight-600 {
  height: 600px;
}

.hight-800 {
  height: 800px;
}

.max-hight-150 {
  max-height: 150px;
}

.max-hight-500 {
  max-height: 500px;
}

.max-hight-800 {
  max-height: 800px;
}

.max-hight-200 {
  max-height: 200px;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-1000 {
  max-width: 1000px;
}

.cm-line::selection,
.ͼa::selection,
.ͼb::selection,
.ͼc::selection,
.ͼd::selection,
.ͼe::selection,
.ͼf::selection,
.ͼg::selection,
.ͼh::selection,
.ͼi::selection {
  color: unset;
}

.code-primary {
  background-color: #f6f7f9;
  border: 1px solid #f6f7f9;
  margin: unset !important;
  min-height: 40px;
}

.code-error {
  background-color: @red-1;
  border: 1px solid @red-1;
  margin: unset !important;
  min-height: 40px;
}

.file-content-primary {
  background-color: #f6f7f9;
  border: 1px solid #f6f7f9;
  margin: unset !important;
  font-size: 12px;
}

.table-row-error {
  background-color: @red-2;
}
.table-row-warn {
  background-color: @gold-2;
}

.gap-right {
  margin-right: 20px;
}

.gap-left {
  margin-left: 20px;
}

.badge-dot-14 {
  .ant-badge-status-dot {
    font-size: 12px !important;
    width: 14px !important;
    height: 14px !important;
  }
  .ant-badge-status-text {
    font-size: 12px !important;
    font-weight: bold;
  }
}

.can-click:hover {
  cursor: pointer;
}

.card-grid-8 {
  text-align: center;
  & > .ant-card-body {
    padding: 8px !important;
  }
}

.table-card {
  & > .ant-card > .ant-card-body {
    padding: 0 !important;
  }
}

.ant-select-tree-title {
  font-size: 12px;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  font-size: 12px;
}

.ant-tooltip {
  font-size: 12px;
}

.virtuallist .ant-table-tbody > tr > td > div {
  white-space: unset !important;
  text-overflow: unset !important;
}

.ant-alert > .ant-alert-content > .ant-alert-message {
  font-weight: bold;
  font-size: 13px;
}

.ant-alert > .ant-alert-content > .ant-alert-description {
  font-size: 12px;
}

.ant-alert > .ant-alert-content > .ant-alert-description > p {
  font-size: 12px;
}

.my-card-title > .ant-card-head {
  min-height: 24px !important;
  max-height: 24px !important;
  & > .ant-card-head-wrapper > .ant-card-head-title {
    padding: 2px 0 !important;
    font-size: 14px !important;
    color: #8c8e9c !important;
  }
}
